@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-text: #323230;
  --color-body: #eeeee7;
}

body {
  background: var(--color-body);
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca";
  box-sizing: border-box;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header a,
header a:visited,
header a:active {
  text-decoration: none;
  color: var(--color-text);
}

.material-symbols-outlined {
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.4s ease;
  color: var(--color-text);
}

#logo {
  margin-left: 2em;
}

#logo h1 {
  border: 3px solid var(--color-text);
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.nav-item {
  margin-right: 3em;
  font-size: 16px;
  padding: 10px;
  transition: all 0.4s ease;
  border-radius: 5px;
}

.home {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.intro {
  margin-left: 2em;
  grid-column: span 2;
}

.stack {
  margin-top: 2em;
  text-align: center;
}

.logo-tech i:not(:first-child) {
  margin-left: 3em;
}
.profile {
  grid-column: span 2;
  text-align: center;
}

.profile img {
  width: 250px;
  border-radius: 5px;
  transition: all 0.4s ease;
  box-shadow: 10px -15px 15px rgba(29, 184, 256, 1);
}
