.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.welcome {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.welcome .text {
  grid-column: span 12;
  font-size: 24px;
  text-align: center;
}
